[core]
	editor = \"C:\\Users\\Ali\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Ali Al-Kazaz
	email = 33095441+Alioo71990@users.noreply.github.com
[gui]
	recentrepo = C:/Users/Ali/Downloads/Visual Studio/reffine-mena-react
